@model ReservationPassangerInputModel

    <p>
        Hello, @($"{Model.Name} {Model.MiddleName} {Model.Surname}")
    </p>
    <p>
        You receive this message beacuse for you was done reservation.
    </p>   